*{
    margin: 0;
}
body{
    background-color: black;
    color: white;
}

header{
    background-image:url(Assets/image-header.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;


}
nav {
    padding: 24px;
    ul{
        display: inline-block;
        float: right;
    }
    li{
display: inline-block;
margin: 10px;
}
}

h1{
    font-family: "DM Sans", sans-serif;
  font-weight: 400;
    font-size: 120px;
    color: white;


   strong{
    font-size: 50px;
   } 
}
.divh1{
width: 50%;
margin: auto;
padding-left: 20%;
    h2{
            width: 60%;
    }
}

h2{
    color: white;

    margin: 2PX;
  
   
}
div a{
display: inline-block;

margin: auto;
}
main{
    background-color: black;
}

form{
    color: white;
}
strong{
    color: white;
}
.btn{
    background-color: white;
    text-decoration: none;
    padding: 12px 32px;
    border-radius: 8px;
    text-transform: capitalize;
    color: black;
}
.secondary {
    background-color: black;
    color: white;
}

.divlineup {
    text-align: center;
    color: white;
    li{
        display: block;
        color: white;
    }
    h2{
        text-align: center;
       
        font-size: 40px;
    }
}

.sectionpadding{
    padding-block: 120px;
    padding-inline: 24px;
}
.container{
    max-width: 800px;
    margin: auto; 
}
.container.lineUp{
    max-width: 500px;
    ul{
        padding: 0;
    }
    li{
        list-style: none;
        border-bottom: 1px dashed white;
    } 

}
#deco img{
    width: 100%;
}


